page-about {

}
#suggestion{
  color: #A68563;
}
#possible{
  color: #A68563;
}
#cover-image{
  width: 100%;
  height: 100%;
}
#grid{
  width:75%;
  height: 50%;
}
#grid-image{
  width: 50%;
  height: 50%;
}
