page-recette {

}
#title{
  margin-top: 10px;
  align-content: center;
  color: #AC845E;
}
#cover-image{
  width: 300px;
  height: 125px;
}
#detail-image{
  width : 15px;
  height: 15px;

}
.button-ios{
  border-radius: 4px;
  height: 2.8em;
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  background-color: #488aff;
  margin: 0.4rem 0.2rem;
  padding: 0 1em;
 }